.header_deafult{
	background: #17202D;
	.main-navigation ul.menu > li > a{
		color: #fff;
	}
	.wrap_breadcrumbs{
		background: #fff;
		border-bottom: 1px solid #D7DCE4;
		padding: 10px 0px;
		.row_site{
			background-color: #fff;

		}
	}
	@media(max-width: 1023px){
		.main-navigation ul li a{
			color: #fff;
		}
		.main-navigation .dropdown-toggle{
			color: #fff;
		}
	}

}