.ova-card {
	margin: 10px;
	.sub_title{
        display: flex;
        justify-content: center;
        align-items: center;
		margin: 0 0 20px 0;
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
		color: #ffffff;
        background: #0AA5CD;
        &.second_font{
            width: 65px;
            height: 65px;
        }
	}
	.title {
		margin: 0px 0 40px 0;
		font-size: 20px;
		line-height: 44px;
		font-weight: 500;
		color: #17202d;
		line-height: 68px;
        font-size: 20px;
	}
	.desc {
		margin: 5px;
		font-size: 16px;
		line-height: 34px;
		color: #677283;
		font-weight: 500;
	}
}