.ova-image-list {
	display: flex;
	flex-wrap: wrap;

	.image {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 110px;
		padding: 28px 24px;
		margin-bottom: 10px;
		margin-right: 10px;
		border-radius: 5px;
  		background-color: rgba(255, 255, 255, 0.102);
  		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;

		.img {
			object-fit: cover;
		}
	}

	.image-link {
		display: flex;
		// margin-bottom: 10px;

		// &:not(:last-child) {
  // 			margin-right: 10px;
  // 		}
	}
}